.QPushButton#exitButton {
    color: white;
    border-radius: 35px;
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #C0D6EA, stop:1 #0089FF);
}

.QPushButton#exitButton:hover {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #D288FF, stop:1 #000000);
}

.QPushButton#exitButton:pressed {
    border: 3px solid #FFCA06;
}

/*show button setup*/
.QPushButton#showButton {
    border-radius: 17px;
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #C0D6EA, stop:1 #0089FF);
}

.QPushButton#showButton:hover {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #D288FF, stop:1 #000000);
}

.QPushButton#showButton:pressed {
    border: 3px solid #FFCA06;
}

/*show log button setup*/
.QPushButton#logButton {
    border-radius: 17px;
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #C0D6EA, stop:1 #0089FF);
}

.QPushButton#logButton:hover {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #D288FF, stop:1 #000000);
}

.QPushButton#logButton:pressed {
    border: 3px solid #FFCA06;
}

.BaseGUI {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 #000000, stop: 0.2 #255 stop:0.5 #7B94A9, stop:0.8 #255 stop:1 #000000);
    border: 2px solid white;
    border-radius: 20px;
}

.UdpSettings {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 #000000, stop: 0.2 #255 stop:0.5 #7B94A9, stop:0.8 #255 stop:1 #000000);
    border: 2px solid white;
    border-radius: 20px;
}

.Log {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 #000000, stop: 0.2 #255 stop:0.5 #7B94A9, stop:0.8 #255 stop:1 #000000);
    border: 2px solid white;
    border-radius: 20px;
}

.QLabel {
    color: white;
    font-family: "Comic Sans MS";
}

.QGroupBox {
    color: white;
    font-family: "Comic Sans MS";
}

.QCheckBox {
    color: white;
    font-family: "Comic Sans MS";
}

.QPushButton {
    color: white;
    border-radius: 5px;
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #C0D6EA, stop:1 #0089FF);
}

.QPushButton:hover {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #D288FF, stop:1 #000000);
}

.QPushButton:pressed {
    border: 3px solid #FFCA06;
}

.QLineEdit {
    border: 2px solid #3BB7E1;
    border-radius: 7px;
    selection-background-color: black;
    background: #4E97B0;
    color: white;
}

.QTextBrowser {
    border: 2px solid #3BB7E1;
    border-radius: 7px;
    selection-background-color: black;
    background: #4E97B0;
    color: white;
}

.QComboBox {
    border: 3px solid #3BB7E1;
    border-radius: 5px;
    background: #4E97B0;
    color: white;
}

.QComboBox QAbstractItemView {
    background: #4E97B0;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    selection-background-color: black;
}




